*, *::after, *::before {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* Main Palette colors */
/* Font colors */
body {
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  color: #1985A5;
}

h1 {
  font-weight: bold;
  font-size: 30px;
  color: rgba(0, 86, 107, 0.8);
}

h3 {
  font-weight: bold;
  font-size: 22px;
  color: rgba(0, 86, 107, 0.8);
}

h4 {
  font-weight: 500;
  font-size: 22px;
  color: #48646b;
}

a:link, a:visited {
  text-decoration: none;
  color: unset;
}

#wrapper {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 100vw;
  min-height: 100vh;
  background: linear-gradient(111.34deg, rgba(48, 152, 242, 0.9) 0%, rgba(46, 232, 167, 0.9) 100%);
}

.eclipse1,
.eclipse2 {
  position: absolute;
  z-index: 1;
  background: linear-gradient(132.54deg, #73FDD1 16.87%, #1EBEC8 94.28%);
  -webkit-filter: blur(10rem);
          filter: blur(10rem);
  border-radius: 50%;
}

.eclipse1 {
  width: 30%;
  height: 70%;
  left: 10vw;
  bottom: 5vh;
}

.eclipse2 {
  width: 20%;
  height: 60%;
  right: 10vw;
  top: 5vh;
}

.circle1,
.circle2 {
  background: linear-gradient(138.33deg, rgba(255, 255, 255, 0.5) 12.66%, rgba(255, 255, 255, 0.2) 76.46%);
  -webkit-backdrop-filter: blur(10rem);
          backdrop-filter: blur(10rem);
  cursor: pointer;
  -webkit-transition: 400ms ease;
  transition: 400ms ease;
  position: absolute;
  z-index: 2;
  border-radius: 50%;
}

.circle1:hover,
.circle2:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.circle1 {
  width: 500px;
  height: 500px;
  left: 7vw;
  bottom: 5vh;
}

.circle2 {
  width: 350px;
  height: 350px;
  right: 20vw;
  top: 5vh;
}

.logo {
  position: absolute;
  right: 20px;
  bottom: 10px;
  z-index: 2;
}

.logo h1 {
  text-shadow: 4px 4px 6px rgba(0, 0, 0, 0.25);
  background: linear-gradient(114.61deg, #16505C -5.64%, #31DFD3 140.64%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.container {
  background: linear-gradient(106.35deg, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0.2) 100%);
  -webkit-backdrop-filter: blur(2rem);
          backdrop-filter: blur(2rem);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  width: 70vw;
  height: 80vh;
  min-height: 80vh;
  z-index: 3;
  border-radius: 2rem;
}

.container .dashboard {
  background: rgba(255, 255, 255, 0.2);
  width: 30%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  z-index: 5;
}

.container .dashboard .profile {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .dashboard .profile .img-wrapper {
  cursor: pointer;
  -webkit-transition: 400ms ease;
  transition: 400ms ease;
  -webkit-box-shadow: 15px 15px 30px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 15px 15px 30px 0px rgba(0, 0, 0, 0.15);
  width: 110px;
  height: 110px;
  overflow: hidden;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  background: linear-gradient(135deg, #3098f2 0%, #1ad191 100%);
}

.container .dashboard .profile .img-wrapper:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.container .dashboard .profile .img-wrapper img.profile__photo {
  height: calc(100% - 4px);
  width: calc(100% - 4px);
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}

.container .dashboard .profile h3.profile__name {
  margin-top: 10px;
}

.container .dashboard .profile .profile__rank {
  color: rgba(72, 100, 107, 0.8);
}

.container .dashboard ul.links {
  width: 100%;
}

.container .dashboard ul.links li.link {
  list-style: none;
  padding: 15px 0;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  cursor: pointer;
  -webkit-transition: 100ms linear;
  transition: 100ms linear;
}

.container .dashboard ul.links li.link:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.container .dashboard ul.links li.link.selected {
  background-color: rgba(255, 255, 255, 0.3);
}

.container .dashboard ul.links li.link .link__img,
.container .dashboard ul.links li.link .link__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .dashboard ul.links li.link .link__img {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-flex: 1.5;
      -ms-flex: 1.5;
          flex: 1.5;
}

.container .dashboard ul.links li.link .link__text {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-flex: 2.5;
      -ms-flex: 2.5;
          flex: 2.5;
}

.container .dashboard ul.links li.link .link__text > span {
  margin-left: 1rem;
}

.container .dashboard .connect-box {
  cursor: pointer;
  -webkit-transition: 400ms ease;
  transition: 400ms ease;
  -webkit-box-shadow: 15px 15px 30px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 15px 15px 30px 0px rgba(0, 0, 0, 0.15);
  width: 75%;
  height: 20%;
  background: linear-gradient(106.35deg, rgba(48, 242, 229, 0.6) 0%, rgba(46, 97, 232, 0.6) 100%);
  border-radius: 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px 20px 15px 30px;
  overflow: hidden;
}

.container .dashboard .connect-box:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.container .dashboard .connect-box .connect-box__text {
  background: linear-gradient(124.55deg, #009DAD 0%, #002EA9 92.32%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
  font-size: 20px;
  line-height: 34px;
  text-align: start;
}

.container .dashboard .connect-box img.connect-box__img {
  width: 100px;
  margin-bottom: 5px;
}

.container .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  width: 70%;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}

.container .content::-webkit-scrollbar {
  width: 40px;
}

.container .content::-webkit-scrollbar-track {
  background-color: rgba(255, 255, 255, 0.2);
}

.container .content::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.3);
}

.container .content::-webkit-scrollbar-thumb:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

#scroll-top-link,
#content-top-position {
  display: none;
}

#progress,
#library,
#achievements,
#wish-list {
  width: 100%;
  height: 100%;
  padding: 2rem 3rem 0 3rem;
  position: absolute;
  display: none;
  z-index: 2;
}

#progress > .title,
#library > .title,
#achievements > .title,
#wish-list > .title {
  margin-bottom: 1.3rem;
}

#progress {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  z-index: 3;
}

#progress form[name="game-search"] {
  -webkit-box-shadow: 15px 15px 30px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 15px 15px 30px 0px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  -webkit-transition: 400ms ease;
  transition: 400ms ease;
  width: 100%;
  padding: 1rem 2rem;
  height: 55px;
  background: linear-gradient(106.35deg, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0.2) 100%);
  border-radius: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 3.5rem;
  cursor: default;
}

#progress form[name="game-search"]:hover {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
}

#progress form[name="game-search"] button, #progress form[name="game-search"] input {
  background: unset;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  outline: inherit;
}

#progress form[name="game-search"] input {
  width: 93%;
  color: rgba(72, 100, 107, 0.8);
}

#progress form[name="game-search"] input::-webkit-input-placeholder {
  color: inherit;
}

#progress form[name="game-search"] input:-ms-input-placeholder {
  color: inherit;
}

#progress form[name="game-search"] input::-ms-input-placeholder {
  color: inherit;
}

#progress form[name="game-search"] input::placeholder {
  color: inherit;
}

#progress form[name="game-search"] img {
  width: 35px;
  height: 100%;
}

#progress .game-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#progress .game-cards .game-card {
  -webkit-box-shadow: 15px 15px 30px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 15px 15px 30px 0px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  -webkit-transition: 500ms ease;
  transition: 500ms ease;
  width: 100%;
  height: 140px;
  margin-bottom: 3.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background: linear-gradient(106.35deg, rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0.5) 100%);
  -webkit-backdrop-filter: blur(100px);
          backdrop-filter: blur(100px);
  border-radius: 2rem;
  overflow: hidden;
}

#progress .game-cards .game-card:hover {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
  -webkit-box-shadow: 15px 25px 30px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 15px 25px 30px 0px rgba(0, 0, 0, 0.15);
}

#progress .game-cards .game-card .game-card__photo {
  width: 140px;
  height: 100%;
}

#progress .game-cards .game-card .game-card__photo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  -o-object-fit: cover;
  -o-object-position: top;
     object-position: top;
}

#progress .game-cards .game-card .game-card__content {
  width: calc(100% - 150px);
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0.8rem 1.5rem;
}

#progress .game-cards .game-card .game-card__content .platform-and-percentage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#progress .game-cards .game-card .game-card__content .platform-and-percentage .platform {
  color: #87a2a9;
}

#progress .game-cards .game-card .game-card__content .platform-and-percentage h4.percentage {
  font-size: 26px;
  font-weight: bold;
  color: rgba(17, 192, 172, 0.8);
  margin-right: 1rem;
}

#progress .game-cards .game-card .game-card__content .platform-and-percentage .percentage::after {
  content: '%';
}

#progress .game-cards .game-card .game-card__content .progress-bar-wrapper {
  width: 100%;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  border-radius: 2rem;
  background: linear-gradient(106.35deg, #3098f2 0%, #2ee8a7 100%);
}

#progress .game-cards .game-card .game-card__content .progress-bar-wrapper .progress-bar {
  width: calc(100% - 4px);
  height: calc(100% - 4px);
  background: linear-gradient(106.35deg, rgba(48, 152, 242, 0.6) 0%, rgba(46, 232, 167, 0.6) 100%);
  border-radius: 2rem;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

#progress .game-cards .game-card .game-card__content .progress-bar-wrapper .progress-bar .negative-value {
  width: 100%;
  height: 100%;
  background-color: white;
  -webkit-transition: 1000ms ease-in-out;
  transition: 1000ms ease-in-out;
}
/*# sourceMappingURL=style.css.map */